/* image width*/
.box.imagesmall {
    width: 30%;  
    height: auto;
}  
.box.imagemedium {
    width: 60%;  
    height: auto;
}   
.box.imagelarge{
    width: 95%;
    height: auto;
}
.imagelarget{
    width: 95%;
    height: auto;
}
div.codesmall {
    width: auto;
    height: 400px;
    overflow: auto;
    text-align:justify;
}

div.codemedium {
    width: auto;
    height: 600px;
    overflow: auto;
    text-align:justify;
}

div.codelarge {
    width: auto;
    height: 800px;
    overflow: auto;
    text-align:justify;
}

section{
    font-family: Helvetica;
}

.command{
    font-family: Helvetica;
    font-weight: bold;
    background-color: #495057;
    color: #ffffff;
}

.tablepadding {
    padding: 220px;
}

.arrow {
    font-size: 28px;
    float : right;
}
.arrow:hover {
    opacity: .5;
}
.nethtmltesterboxes {
    width:100%;
    content: "";
    display: table;
    clear: both;
}
.nethtmlcodediv {
    float: left;
    height: 480px;
    width: 65%;
}
.nethtmlshowdiv {
    float: left;
    height: 480px;
    width: 35%;
}
.recapcode{
    color: #000;
    width: 99%; 
    height: 480px;
    padding: 5px; 
    border:0;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* IE 8+ */
}
.textanihtmltester {
  width: 180px;
  height: 30px;
  font-size:28px;
  position: relative;
  animation: bafhtmltester 60s linear 1s infinite alternate;
}

@keyframes bafhtmltester {
  0%   {color:red; left:0px; top:0px;}
  25%  {color:yellow; left:360px; top:0px;}
  50%  {color:blue; left:0px; top:0px;}
  75%  {color:green; left:360px; top:0px;}
  100% {color:red; left:0px; top:0px;}
}